.vscode
ell/.deps/
ell/.gitignore
ell/Makefile
ell/Makefile.in
ell/aclocal.m4
ell/autom4te.cache/
ell/compile
ell/config.h
ell/config.h.in
ell/config.log
ell/config.status
ell/configure
ell/depcomp
ell/install-sh
ell/ltmain.sh
ell/*.o
ell/missing
ell/src/.dirstamp
ell/src/objmgr
ell/stamp-h1
node/node_modules
node/yarn-error.log
